@using WLib.Util.Services
@inject IMarkdownParser MarkdownParser

<div class="markdown-container">
    @if (!string.IsNullOrEmpty(ParsedHtml))
    {
        <div class="markdown-content" @key="Content">
            @((MarkupString)ParsedHtml)
        </div>
    }
    else
    {
        <p>No content available.</p>
    }
</div>

@code {
    [Parameter]
    public string Content { get; set; } = string.Empty;

    private string ParsedHtml { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(Content))
        {
            // Await the parsing of markdown content to HTML
            ParsedHtml = await MarkdownParser.ParseToHtml(Content);
        }
        else
        {
            ParsedHtml = string.Empty;
        }
        StateHasChanged();
    }
}
